body{margin:0;width:100%;height:100%;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;line-height: 1.42857143;}
p{margin: 0;}
canvas{display:block;vertical-align:bottom;}
.count-particles{background: #000022;position: absolute;top: 48px;left: 0;width: 80px;color: #13E8E9;font-size: .8em;text-align: left;text-indent: 4px;line-height: 14px;padding-bottom: 2px;font-family: Helvetica, Arial, sans-serif;font-weight: bold;}
.js-count-particles{font-size: 1.1em;}
#stats, .count-particles{-webkit-user-select: none;margin-top: 5px;margin-left: 5px;}
#stats{border-radius: 3px 3px 0 0;overflow: hidden;}
.count-particles{border-radius: 0 0 3px 3px;}
#dt-particles-js{width: 100%;height: 100%;position: relative;background-image: url(../images/login-bg.jpg);background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;margin-left: auto;margin-right: auto;}
.nodisplay{display: none;}
.dt-login{z-index: 2;position:absolute;width: 350px;border-radius: 5px;height: 500px;background: white;box-shadow: 0 0 5px #333333;top: 50%;left: 50%;margin-top: -250px;margin-left: -175px;transition: all 1s;-moz-transition: all 1s;	/* Firefox 4 */-webkit-transition: all 1s;	/* Safari 和 Chrome */-o-transition: all 1s;	/* Opera */}
.dt-login-top{font-size: 24px;margin-top: 40px;text-align: center;box-sizing: border-box;color: #333333;margin-bottom: 50px;}
.dt-login-center{width: 100%;box-sizing: border-box;padding: 0 40px;margin-bottom: 30px;}
.dt-login-center-img{width: 20px;height: 20px;float: left;margin-top: 5px;}
.dt-login-center-input{float: left;width: 230px;margin-left: 15px;height: 30px;position: relative;}
.dt-login-center-input input{z-index: 2;transition: all 0.5s;padding-left: 10px;color: #333333;width: 100%;height: 30px;border: 0;border-bottom: 1px solid #cccccc;border-top: 1px solid #ffffff;border-left: 1px solid #ffffff;border-right: 1px solid #ffffff;box-sizing: border-box;outline: none;position: relative;}
.dt-login-center-input input:focus{border: 1px solid dodgerblue;}
.dt-login-center-input input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: #ffffff !important;background-image: none !important;color: rgb(0, 0, 0) !important;}
.dt-login-center-input-text{background: transparent;padding: 0 5px;position: absolute;z-index: 0;opacity: 0;height: 20px;top: 50%;margin-top: -10px;font-size: 14px;left: 5px;color: dodgerblue;line-height: 20px;transition: all 0.5s;-moz-transition: all 0.5s;	/* Firefox 4 */-webkit-transition: all 0.5s;	/* Safari 和 Chrome */-o-transition: all 0.5s;	/* Opera */}
.dt-login-center-input input:focus~.dt-login-center-input-text{top: 0;z-index: 3;opacity: 1;margin-top: -20px;}
.dt-login.active{-webkit-animation: login-small 0.8s ; animation: login-small 0.8s ;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}
.dt-login-button{cursor: pointer;width: 250px;text-align: center;height: 40px;line-height: 40px;background-color: #0d5fab;border-radius: 5px;margin: 0 auto;margin-top: 50px;color: white;transition: all .3s ease}
.dt-login-button:hover{background-color: dodgerblue;}
.dt-register-button{cursor: pointer;width: 250px;text-align: center;height: 40px;line-height: 40px;background-color: #e2e2e2;border-radius: 5px;margin: 0 auto;margin-top: 30px;color: #070707;border: 1px solid transparent;transition: all .3s ease}
.dt-register-button:hover{border: 1px solid dodgerblue}
.crosslineletfright{position:relative;}
.crosslineletfright a:after{content: '';display: block;border-bottom: 2px solid #0d5fab; width:0; transition: all .25s ease;-webkit-transition: all .25s ease;-o-transition: all .25s ease;}
.crosslineletfright a:hover:after{width: 100%;}
.row{margin-left:-15px;margin-right:-15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.dt-navbar{margin-bottom:0;background-color: #FFFFFF; border-radius: 0;border-bottom: 1px solid #e3e3e3;border-top:0;border-left:0;border-right: 0;}
.dt-navbar-btns{padding-top: 32px;}
.dt-btn{padding:8px 24px; border-radius: 7px;}
.dt-side-menu{position: relative;height: calc(100% - 101px);overflow-y: auto;border-right:1px solid #e3e3e3;}
.dt-side-menu ul{margin-top: 10px;margin-bottom:10px;padding-inline-start:0;list-style: none;}
.dt-menu-item{padding:10px 8px;}
.dt-menu-item a{color:#222222;text-decoration: none;}
.dt-menu-item.active a{color: #eee;}
.dt-menu-item.active{background-color: #0d5fab;}
.dt-menu-item .iconfont{font-size: 16px;}
.dt-menu-text{display: inline-block; font-size: 16px;}
.dt-menu-text:before{content: '\2002';}
.dt-side-copyright{width:100%;position:absolute;bottom: 0;font-size: 14px;margin:0 -15px; padding:10px 0;border-top:1px solid #e3e3e3;}
.dt-side-copyright p{text-align: center;font-size: 12px;}